#nav{
    display: flex;
    flex-direction: row;
    margin: 30px 150px;
    background-color:#03346E;
    height:40px;
    border-radius: 10px;
    padding: 10px 50px;
    color: #E2E2B6; 
}
#name{
    margin: 0px 20px;
    font-size: 20px;
    width: 100%;
    color: #E2E2B6;
    font-weight: bold;
}
#menu{
    width: 100%;
    text-align: end;
}
a{
    margin: 20px 20px;
    font-size: 20px;
}
a:hover{
    color: #6EACDA;
}